.bb1 {
    width: 10%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;


    &__a {
        width: 70%;
        height: 10%;
        background-color: var(--building-color1);
    }

    &__b {
        width: 80%;
        height: 10%;
        background-color: var(--building-color1);
    }
    &__c {
        width: 90%;
        height: 10%;
        background-color: var(--building-color1);
    }
    &__d {
        width: 100%;
        height: 70%;
        background-color: var(--building-color1);
    }
}